* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    position: relative;
    width: 1440px;
    height: auto;
    min-height: auto;
    background: #F5F5F5;
    align-items: center;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
    bottom: -7.14%;
    background: #F5F5F5;
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    width: 1519px;
    height: 75px;
    left: 0px;
    top: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {

    position: fixed;
    right: 77.08%;
    bottom: 16%;
    height: 50px;
    width: 200px;
    left: 130px;
    top: 13px;
    border-radius: 0px;

}


.navbar ul {
    float: right;
    margin-right: 140px;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar ul li {
    position: relative;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.navbar ul li:hover>ul {
    display: block;
    color: #306EFF;
    width: 105px;
}

.navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
}

.navbar ul li ul li a {
    padding: 0px;
}

.navbar ul li ul li:hover a {
    background-color: #f5f5f5;

}



/* title*/

h2 {
    position: absolute;
    height: 64px;
    width: auto;
    left: 230px;
    top: 175px;
    font-size: 60px;
    font-weight: 500;
    color: #37305E;
}

h3 {
    position: absolute;
    height: 34px;
    width: auto;
    left: 230px;
    top: 244px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #37305E;
}

/* menu */


.options {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 230px;
    top: 350px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.img {

    width: 480px;
    height: 200px;
    left: 0px;
    top: 0px;
    border-radius: 15px 15px 0px 0px;
}

.options tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options td {
    color: #010027;
    padding: 4px;
    padding: auto;
}

.booknow {
    background-color: #007bff;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 0px;
    color: #F5F5F5;
    font-weight: bold;

}

.options2 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 760px;
    top: 350px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options2 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options2 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}

.options3 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 230px;
    top: 750px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options3 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options3 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}

.options4 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 760px;
    top: 750px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options4 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options4 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}


.options5 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 230px;
    top: 1150px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options5 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options5 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}

.options6 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 760px;
    top: 1150px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options6 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options6 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}



.options7 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 230px;
    top: 1550px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options7 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options7 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}

.options8 {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 760px;
    top: 1550px;
    background: #F5F5F5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: bold;
}

.options8 tr {

    width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
}

.options8 td {
    color: #010027;
    padding: 4px;
    padding: auto;
}







.footer {
    position: absolute;
    width: 1519px;
    height: auto;
    margin: 600px 0px 0px 0px;
    top: 1400px;
    background: #EFEFEE;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0rem 0rem 3rem 0rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;

}

.footer-col {
    padding: 30px 60px;
    margin: 50px;
    align-items: center;
    justify-content: center;


}

.footer-col h4 {
    font-size: 20px;
    color: #010027;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Fredoka', sans-serif;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
    opacity: 50%;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Fredoka', sans-serif;
}

.footer-col ul li a:hover {
    color: #306EFF;
}



.line {
    height: 20px;
    color: black;
    top: 300px;
    opacity: 50%;
}

.policy1 {
    font-family: 'Fredoka', sans-serif;
    color: #8A8A91;
    text-size-adjust: 10px;
    text-align: center;
    opacity: 60%;
}

.space {
    margin-bottom: -200px;
}

.soimg {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}